@import "tailwindcss";

:root {
  --primary-color: #0597bf; 
}


/* Hide scrollbar globally */
* {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

*::-webkit-scrollbar {
  display: none;            
}